.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px; /* Ajout de la marge */
    color:#999
  }
  
  .auth-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .auth-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .auth-button:first-child {
    margin-top: 10px; /* Ajout de la marge supérieure */
  }

  .auth-divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .auth-hr {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 60px; /* Réduction de la marge à 5px */
    
  }
  
  .auth-or {
    color: #999;
    font-size: 16px;
   
  }