/* Navbar pour les écrans larges */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 30px;
}

.logo a img {
  height: 50px;
  width: auto;
}

.account a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 20px;
  border: 2px solid #ff7f00;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
}
.new{
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 20px;
  border: 2px solid #ff7f00;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
  background-color: #ff7f00;
  background-color: white;
  color: #ff7f00;
  border-radius: 0px;
}
.account a:first-of-type {
  background-color: #ff7f00;
}

.account a:last-of-type {
  background-color: white;
  color: #ff7f00;
}

.account a:last-of-type::before {
  content: "";
  position: absolute;
  bottom: -6%;
  right: 110px;
  transform: translateY(-50%);
  width: 15px;
  height: 20px;
  margin-right: 10px;
  background-image: url('../../assets/cadena.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.account a:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media queries pour les écrans plus petits */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .logo, .account {
    width: 100%;
    text-align: center;
  }

  .logo a img {
    height: 40px;
    margin-bottom: 10px;
  }

  .account {
    margin-top: 20px;
  }

  .account a {
    display: block;
    margin: 10px auto;
  }

  .account a:before {
    display: none;
  }
}