.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  max-width: 50%;
  height: auto;
}
.p{
  color:#ff7f00;
  font-size:18px ;
  font-weight: bold;
  text-align: left;
 
}