.container {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex: 1;
    margin-right: 700px;
    margin-left:80px;

  }
  
  .image-container img {
    width: 250%;
    height: 70%;
    max-width: 2000px; /* Définir une largeur maximale pour l'image */
    object-fit: cover;
  }
  
  .text-container {
    flex: 1;
  }
  
  .text-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    
  }
  
  .text-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .p{
   
    font-family:inherit;
    color:#ff7f00;
    font-size:30px;
    text-align: left;

  }